<!-- <!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>
    <!-- Header-->
    <header class="banner create bg-dark">
      <div
        class="color-overlay d-flex justify-content-center align-items-center"
      >
        <div class="banner-text text-center">
          <h1 class="display-4 fw-bolder">404 Page Not Found</h1>
          <h2><%= msg %></h2>
        </div>
      </div>
      <!-- </div> -->
    </header>
   
             
             
   
    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
 
  </body>
</html>
